In [1]:
import pandas as pd

df = pd.read_csv('90d.csv')
df

,Unnamed: 0,MTS,Open,Close,High,Low,Volume
0,0,1569196800000,10059.000000,9702.600000,10077.00000,9610.3,5489.730408
1,1,1569283200000,9708.500000,8538.700000,9795.00000,8100.0,34869.189366
2,2,1569369600000,8536.984312,8475.300000,8773.60000,8262.0,12773.963029
3,3,1569456000000,8472.000000,8105.900000,8493.07283,7796.6,15418.993022
4,4,1569542400000,8105.900000,8213.400000,8309.80000,7906.3,7469.155896
...,...,...,...,...,...,...,...
85,85,1576540800000,6926.800000,6667.100000,6972.00000,6620.0,12656.313323
86,86,1576627200000,6667.068103,7326.200000,7482.20000,6477.0,13752.710168
87,87,1576713600000,7326.200000,7181.800000,7417.10000,7079.7,5430.843086
88,88,1576800000000,7181.770199,7212.925908,7249.00000,7116.8,5703.239879
89,89,1576886400000,7213.000000,7154.500000,7215.10000,7136.5,1273.629259